.jumbotron {
  text-align: center;
  color: #eee;
  background-color: CornflowerBlue;
  background-image: linear-gradient(3deg, CornflowerBlue, Coral);
}

.jumbotron p {
  max-width: 600px;
  margin: 0px auto;
}

.picture img {
  width: 100%;
}

.item {
  padding-bottom: 24px;
}

.item .itemPrice,
.item .itemDescription {
  margin-right: 24px;
}
